# Django
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (AWS RDS)
DB_HOST=localhost
DB_NAME=accommodation_db
DB_USER=postgres
DB_PASSWORD=postgres123
DB_PORT=5432

# AWS
AWS_REGION=eu-west-1

# AWS Secrets Manager (production only)
DB_SECRET_NAME=nestmate/db/credentials

# AWS SES Email Settings
AWS_SES_SMTP_USER=your-ses-smtp-username
AWS_SES_SMTP_PASSWORD=your-ses-smtp-password
DEFAULT_FROM_EMAIL=your-verified-email@gmail.com
